
<!DOCTYPE html>
{% load static %}
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">

</head>
{% block content %}

        <h5  style="text-align: center">  نام شهر :</h5>
        <h5  style="text-align: center"> {{ address.city }} نام كتاب :</h5>
        <h5  style="text-align: center">  نام خيابان :</h5>
        <h5  style="text-align: center"> {{ address.street }} نام كتاب :</h5>
        <h5  style="text-align: center">  كد پستي :</h5>
        <h5  style="text-align: center"> {{ address.postal_code}} نام كتاب :</h5>

            <a  style="text-align: center" href="{% url 'addressedit' address.pk %}" class="col-1 card-link">
                             <button class="btn btn-primary">ویرایش</button>
                            </a>


{% endblock %}

