
{% load static %}
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">

</head>
<body>

{% block content %}


       <label for="fname">  ايميل:</label><br>
              <input type="text" id="fname" name="fname" value="{{ user.email }}"><br>
              <label for="lname">نام: </label><br>
              <input type="text" id="lname" name="lname" value="{{ user.first_name }}"><br>
               <label for="lname"> نام كاربري: </label><br>
              <input type="text" id="lname" name="lname" value="{{ user.username}}"><br>


{% endblock %}

